<div class="text-center">
<h1>Listing Areas</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th> Area Name </th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.area_name %></td>
        <td><%= link_to 'Delete', area, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area', new_area_path, class:'btn btn-default btn-xs' %>
